
<div>
 
  <div class="container">

    <div>
      <div class="space"></div>
      <div class="placeholder">
        <input class="text" [(ngModel)]="account"  placeholder="account">
      </div>
      <div class="space"></div>
      <div class="input1">
        <input type="text" [(ngModel)]="amount" placeholder="Amount"> 
      </div>
      <div class="space"></div>
      <div>
        <button type="button" (click)="onSubmit()">Submit</button>
      </div>
      <div class="space"></div>
    </div>
  
  </div>
  </div>

  <div>
 
    