<div class="wrapper">
  <div class="col-md-7">
    <div class="loginbox">
      <img
        src="https://t3.ftcdn.net/jpg/05/44/77/06/240_F_544770685_iDH4RZDkRmsksWt3MFG2e9oGqubKl2Mo.jpg"
        class="avatar" />
      <h1 class="login mb-3">Register</h1>
    
      <form
      
        id="formularioRegistro"
        [formGroup]="frmFormularyRegister">

        <div class="form-floating mb-3">
          <input  
          type="text" 
          class="form-control"
          placeholder="FullName"
          formControlName="fullName"
          name="fullName">
          <div class="mjs" *ngIf="frmFormularyRegister.get('fullName')?.hasError('required') &&
            frmFormularyRegister.get('fullName')?.touched">
            Name is Required
          </div>
          <label for="floatingInput">FullName</label>
        </div>



        <div class="form-floating mb-3">
          <input  
          type="text" 
          class="form-control"
          placeholder="document" 
          formControlName="document"
          name="document">
          <div class="mjs" *ngIf="frmFormularyRegister.get('document')?.hasError('required') &&
            frmFormularyRegister.get('fullName')?.touched">
            Name is Required
          </div>
          <label for="floatingInput">Document</label>
        </div>
        <div class="form-group-1">
          <div class="icon"
            *ngIf="frmFormularyRegister.get('documentTypeId')?.hasError('required') &&
            frmFormularyRegister.get('documentTypeId')?.touched">
            Document Type Required
            <span class="fas fa-doc"></span>
          </div>
           <select class="form-control mb-3" formControlName="documentTypeId" name="documentTypeId">
            <label for="floatingInput">Document Type</label>
              <option selected class="Text" placeholder="Select Option"></option>
              <option value="73ddaeb0-6dc5-4e62-b2be-8dfe39027546" selected > Cedula Cuidadania</option>
              <option value="0bfa4f87-392f-44b1-9517-b0da30cbf18b">Cedula Extranjeria</option>
            </select>
          </div>
        
          <div class="form-floating mb-3">
            <input  
            type="text" 
            class="form-control mb-3"
            placeholder="phone" 
            formControlName="phone"
            name="phone">
            <div class="mjs" *ngIf="frmFormularyRegister.get('phone')?.hasError('required') &&
              frmFormularyRegister.get('phone')?.touched">
              Phone is Required
            </div>
            <label for="floatingInput">Phone</label>
          </div>

        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"  
            placeholder="Enter Name or email"
              formControlName="email"
              name="email"        
            placeholder="email" />
            <div class= "mjs" *ngIf="frmFormularyRegister.get('email')?.hasError('required') &&
            frmFormularyRegister.get('email')?.touched ">
                Required field
              </div>

          <label for="floatingInput">Email</label>
        </div>

        <div class="form-floating">
          <input
            type="password" 
            class="form-control"  
            placeholder="Enter password"
            formControlName="password"
            name="password"/>
            <div class= "mjs mb-3" *ngIf="frmFormularyRegister.get('password')?.hasError('required') &&
            frmFormularyRegister.get('password')?.touched">
              Required field
            </div>
            <div class="invalidPass" *ngIf="frmFormularyRegister.get('password')?.hasError('pattern')">
             Invalid Password
            </div>
          <label >Password</label>
        </div>
        <div class="row d-flex justify-content-center">
          <div>
            <button type="submit" (click)="register()" class="btn btnLogin mb-3">Send</button>
          </div>
          <div class="d-grid gap-2">
            <a class="mt-3" routerLink="/login">Back</a> 
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
