
<div>
 
<div class="container">
  
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="space"></div>
    <div class="placeholder">
      <input class="input" formControlName="income"  placeholder="Income">
    </div>
    <div class="space"></div>
    <div class="input1">
      <input formControlName="outcome" placeholder="Outcome">
    </div>
    <div class="space"></div>
    <div class="input2">
      <input formControlName="amount" placeholder="Amount">
    </div>
    <div class="space"></div>
    <div class="input2">
      <input formControlName="reason" placeholder="Reason">
    </div>
    <div class="space"></div>
    <div>
      <button class="submit">Submit</button>
    </div>
    <div class="space"></div>
  </form>

</div>
</div>