<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title m-b-0">TRANSFER HISTORY</h5>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Income</th>
                <th scope="col">Outcome</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">Reason</th>
              </tr>
            </thead>
            <tbody class="customtable">
              <tr *ngFor="let data of historyTransfer">
                <td>{{data.income.id}}</td>
                <td>{{data.outcome.id}}</td>
                <td>{{data.amount | currency}}</td>
                <td>{{data.date_time | date : 'dd/MM/yyyy'}}</td>
                <td>{{data.reason}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
